<div class="space-y-2">
  <div class="form-group">
    <label
      >Title<input
        #title
        class="form-control"
        placeholder="Add a title"
        type="text"
      />
    </label>
  </div>

  <div>
    <label>
      <input #completed class="form-checkbox" type="checkbox" />
      <span class="ml-2">Completed</span>
    </label>
  </div>

  <div class="flex justify-between">
    <button (click)="goBack()" class="btn btn-blue">
      <svg class="w-4 h-4 fill-current text-white" viewBox="0 0 20 20">
        <path
          d="M3.828 9l6.071-6.071-1.414-1.414L0 10l.707.707 7.778 7.778 1.414-1.414L3.828 11H20V9H3.828z"
        />
      </svg>
    </button>

    <button
      (click)="create(title.value, completed.checked)"
      class="btn btn-blue"
    >
      Create
    </button>
  </div>
</div>
