<div class="min-h-screen bg-gray-800">
  <app-layout-header></app-layout-header>

  <main class="container py-3 px-4 mx-auto">
    <router-outlet></router-outlet>

    <a
      *ngIf="router.url !== '/todos/create'"
      routerLink="/todos/create"
      class="btn btn-icon btn-round btn-blue mb-1 mr-1 fixed bottom-0 right-0"
    >
      <svg
        class="w-4 h-4 fill-current text-white"
        viewBox="0 0 20 20"
        style="transform: rotate(45deg)"
      >
        <path
          d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"
        />
      </svg>
    </a>
  </main>
</div>
